.container {
  display: inline-block;
  position: relative;
}

.dropdown {
  border-radius: 100px;
  border: 1px solid var(--sq-gray300);
  padding: 5px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.chevron {
  padding-left: 10px;
}

.list {
  margin-top: 10px;
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  background: white;
  position: absolute;
  min-width: 100%;
  z-index: 1000;
  box-shadow: var(--sq-shadow2);
  border-radius: 4px;
}

.listItem {
  padding: 5px 24px;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
}

.selected {
  background: rgba(67, 136, 221, 0.08);
}

.itemClosed {
  padding: 5px 0;
  font-size: 14px;
  line-height: 14px;
  font-family: Assistant;
}
