.footerWrapper {
  background-color: var(--sq-gray100);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 3rem 6rem;
}

.mFooter {
  padding: 1rem 1.75rem;
}

.primaryRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem;
}

.secondaryRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 400px;
}

.joinTitle {
  font-size: 32px;
  font-weight: bold;
}

.socialLinks {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  font-size: 24px;
  margin: 1rem 0;
}

.mSocialLinks {
  font-size: 16px;
  flex-direction: column;
  row-gap: 1rem;
}

/* Simple */
.simpleContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2rem;
}

.discordIcon {
  font-size: 50px;
}

.iconsContainer {
  flex-grow: 1;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  margin-bottom: 1rem;
}

.iconsContainer {
  display: flex;
}

.simpleIconButton {
  background: transparent;
  color: var(--sq-gray700);
}

.simpleIconButton:hover {
  background: transparent;
  color: var(--sq-primary-blue);
}

.simpleCopyRight {
  margin: auto;
}

.bottomLink {
  color: #919eab;
  text-decoration: underline;
  margin-left: 1rem;
}

.bottomLink:hover {
  color: var(--sq-gray600);
}

/* simple */
.icon {
  color: var(--sq-gray600);
}

.icon:hover {
  color: var(--sq-primary-blue);
}
