.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.large {
  color: var(--sq-gray700);
  padding-left: 10px;
}

.small {
  color: var(--sq-gray700);
  padding-left: 7px;
}
