.card {
  /*padding: 24px;*/
  /*gap: 12px;*/

  align-items: flex-start;
  max-width: 260px;
  max-height: 164px;
  background: white;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tooltip {
  margin: 0 6px;
  color: var(--sq-gray500);
}

.title {
  color: var(--sq-gray600);
  font-weight: 600;
  line-height: 18px;
  font-size: 10px;
}

.value {
  font-weight: 500;
  font-size: 24px;
  height: 36px;
  width: 71px;
  color: var(--sq-gray900);
  line-height: 36px;
}

.ellipsis {
  position: absolute;
  left: 88.46%;
  right: 4.62%;
  top: 10.17%;
  bottom: 74.58%;
  font-size: 150%;
  color: var(--sq-blue700);
}

.button {
  /*padding: 6px 10px 6px 10px;*/
  /*gap: 20px;*/
  padding-top: 10px;

  width: 190px;
  height: 30px;
  color: var(--sq-blue600);
  border-radius: 36px;

  /* Inside auto layout */

  /*flex: none;*/
  /*order: 2;*/
  /*flex-grow: 0;*/
}
