.card {
  width: fit-content;
  background: white;
  border-radius: 8px;
  overflow-x: scroll;

  padding: 0.75rem;
  display: flex;
}

.value {
  font-weight: 500;
  font-size: 24px;
  color: var(--sq-gray900);
  line-height: 36px;
}

.menu {
  position: absolute;
  right: 5px;
  font-size: 20px;
  color: var(--sq-blue700);
}

.button {
  color: var(--sq-blue600);
  padding: 0;
  margin: 1rem 0;
}

.title {
  color: var(--sq-gray600);
  font-weight: 600;
}
