/* antd Modal */
.modalStyle .ant-modal-content {
  border-radius: 8px;
}

.modalStyle .ant-modal-header {
  border-radius: 8px 8px 0 0;
}

.modalStyle .ant-modal-footer {
  border-top: none;
}

/* table Modal */
.tableStyle .ant-table-thead > tr > th {
  background: var(--sq-gray200);
}

/* Menu */
.menuStyle .ant-dropdown-menu-item:hover {
  background: var(--sq-blueHover);
}
