.container {
  box-shadow: var(--sq-shadow);
  border-radius: 8px;
  padding: 32px;
  display: inline-flex;
  flex-direction: column;
  min-width: 395px; /* Not sure if we want this */
}

.inner {
  display: flex;
}

.icon {
  padding-right: 16px;
  font-size: 22px;
}

.icon-info {
  color: var(--sq-info);
}

.icon-error {
  color: var(--sq-error);
}

.icon-delete {
  color: var(--sq-error);
}

.cancel {
  margin-right: 10px;
}

.submit-info {
  background: var(--sq-info);
}

.submit-error {
  background: var(--sq-error);
}

.submit-delete {
  background: var(--sq-error);
}

.footer {
  padding-top: 32px;
  display: flex;
  justify-content: flex-end;
}
