@keyframes spinner {
  to {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinnerBorder {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--sq-info);
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner 0.75s linear infinite;
}
