.header {
  width: 100%;
  box-shadow: inset 0px -1px 0px rgba(26, 32, 44, 0.06);
}

.headerHeight {
  height: 80px;
}

.justifyBetween {
  justify-content: space-between;
}

.flexCenter {
  display: flex;
  align-items: center;
}

.leftElement {
  margin-left: 2rem;
  position: relative;
}

.appDropdown {
  margin: 1rem;
}

.menuOverlay {
  padding: 1rem !important;
}

.dropMenu {
  width: 300px !important;
}

.navLink {
  text-decoration: none;
  margin: 0 1vw;
  display: flex;
  color: var(--gray700);
  width: fit-content;
}

.navLink:hover {
  text-decoration: underline;
  color: var(--sq-primary-blue);
}

/*
* Mobile Header
*/

.menuIcon {
  cursor: pointer;
}

.mobileMenu {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.mobileMenuItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.mobileMenuItem {
  padding: 1rem 0;
}

.mobileDropDown {
  margin: 0;
  height: auto;
  padding: 1rem 0.25rem;
}

.mobileLeftHeader {
  margin: 1rem 0 0 0;
}

.mobileMenuItemBottom {
  border-bottom: 1px solid #f3f4f4;
  width: 90vw;
}
