.base {
  border: 1px solid var(--sq-gray300);
  border-radius: 8px;

  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.base:focus {
  outline: 1px solid var(--sq-primary-blue);
}

.base:focus-visible {
  outline: 1px solid var(--sq-primary-blue);
}

.base::placeholder {
  color: var(--sq-gray500);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.base:disabled {
  background: var(--sq-gray200);
}

.label {
  padding-bottom: 8px;
}

.error {
  border-color: var(--sq-error);
}

.error:focus {
  outline-color: var(--sq-error);
}

.error:focus-visible {
  outline-color: var(--sq-error);
}

.errorText {
  color: var(--sq-error);
}

.large {
  padding: 12px;
  font-size: var(--sq-font-body);
  line-height: var(--sq-line-body);
}

.medium {
  padding: 8px 12px;
  font-size: var(--sq-font-medium);
  line-height: var(--sq-line-medium);
}
