.t {
  color: var(--sq-gray900);
  margin: 0;
  padding: 0;
}

.h1 {
  font-family: 'Futura';
  font-size: 80px;
  line-height: 100px;
}

.h2 {
  font-family: 'Futura';
  font-size: 60px;
  line-height: 88px;
}

.h3 {
  font-family: 'Futura';
  font-size: 48px;
  line-height: 64px;
}

.h4 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
}

.h5 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.large {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.text {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.medium {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 22px;
}

.small {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 18px;
}

.overline {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.success {
  color: var(--sq-success);
}

.warning {
  color: var(--sq-warning);
}

.danger {
  color: var(--sq-error);
}

.secondary {
  color: var(--sq-gray600);
}

.w100 {
  font-weight: 100;
}

.w200 {
  font-weight: 200;
}

.w300 {
  font-weight: 300;
}

.w400 {
  font-weight: 400;
}

.w500 {
  font-weight: 500;
}

.w600 {
  font-weight: 600;
}

.w700 {
  font-weight: 700;
}

.w800 {
  font-weight: 800;
}

.w900 {
  font-weight: 900;
}

.tooltip {
  cursor: pointer;
}
.tooltipIcon {
  margin: 5px;
}

.tooltip:hover {
  color: var(--sq-gray500);
}
