.pointer {
  cursor: pointer;
}

.colorInherit {
  color: inherit;
}

.dropdownLabel {
  height: 100%;
}

.isOnHover {
  color: var(--sq-primary-blue);
}

.menuOverlay {
  max-width: 40%;
  padding: 1rem;
}

.title {
  margin: 0.25rem 0;
}

.description {
  color: var(--sq-gray600);
}

.menuWithDesc {
  width: max-content;
}
