.container {
  border-radius: 4px;
  border: 1px solid;
  padding: 2px 8px;
  display: inline-flex;
}

.container-default {
  border-color: rgba(var(--sq-gray500-rgb), 0.5);
  background: rgba(var(--sq-gray500-rgb), 0.08);
}

.container-error {
  border-color: rgba(var(--sq-error-rgb), 0.5);
  background: rgba(var(--sq-error-rgb), 0.08);
}

.container-info {
  border-color: rgba(var(--sq-info-rgb), 0.5);
  background: rgba(var(--sq-info-rgb), 0.08);
}

.container-warning {
  border-color: rgba(var(--sq-warning-rgb), 0.5);
  background: rgba(var(--sq-warning-rgb), 0.08);
}

.container-success {
  border-color: rgba(var(--sq-success-rgb), 0.5);
  background: rgba(var(--sq-success-rgb), 0.08);
}

.text-default {
  color: var(--sq-gray500);
}

.text-error {
  color: var(--sq-error);
}

.text-info {
  color: var(--sq-info);
}

.text-warning {
  color: var(--sq-warning);
}

.text-success {
  color: var(--sq-success);
}
